 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 662px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 134px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 15px;
  margin-bottom: 30px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 447px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 255px;
  height: 347px;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 407px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-table-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-block-b818-17 {
  height: 46px;
}

.u-section-1 .u-table-cell-1 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-3 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-5 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-7 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-9 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-11 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-13 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-15 {
  font-weight: 700;
}

.u-block-b818-28 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 591px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 369px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 336px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 508px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 283px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 472px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 735px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 425px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 594px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 268px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 707px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 39px auto 0 13px;
}

.u-section-2 .u-text-2 {
  margin: 20px 1px 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 39px auto 0 0;
}

.u-section-2 .u-table-1 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-block-68db-13 {
  height: 46px;
}

.u-section-2 .u-table-cell-1 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-2 {
  font-weight: 700;
}

.u-block-68db-26 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 0;
}

.u-section-3 .u-text-2 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 60px;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 500px;
}

.u-section-4 .u-text-1 {
  margin-bottom: 60px;
}.u-section-5 .u-sheet-1 {
  min-height: 1085px;
}

.u-section-5 .u-text-1 {
  margin-bottom: 40px;
  margin-top: 20px;
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 500px;
}

.u-section-6 .u-text-1 {
  margin-bottom: 0;
  font-weight: 700;
  text-decoration: underline !important;
}

.u-section-6 .u-text-2 {
  margin: 43px auto 60px 0;
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2145px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 46px;
    margin-right: 0;
    margin-bottom: 57px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 206px;
}

.u-section-7 .u-text-1 {
  margin-bottom: 0;
  font-weight: 700;
  text-decoration: underline !important;
  margin-top: 20px;
}

.u-section-7 .u-text-2 {
  margin: 20px 0 60px;
}.u-section-8 .u-sheet-1 {
  min-height: 603px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 37px auto 0 0;
}

.u-section-8 .u-text-2 {
  margin: 20px 0 60px;
}